.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
}

.font-size-setting {
    margin: 20px 0;
}

.font-size-setting label {
    color: white; 
    font-size: 20px;
}

.btn-settings, .btn-back {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(181, 164, 131);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-settings:hover, .btn-back:hover {
    background-color: rgba(181, 164, 131, 0.8);
    transform: scale(1.05);
}

body {
    font-family: Arial, sans-serif;
}

.font-family-setting{
    color: white;
    font-size: 20px;
}