* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.light {
  background-color: #ffffff;
  color: #000000;
  background-image: url("C:\Users\Lenovo\Desktop\EduFun-Bingo\edufun\client\public\images\wallpaper4.webp");
}
body.dark {
  background-color: #121212;
  color: #ffffff;
  background-image: url("C:\Users\Lenovo\Desktop\EduFun-Bingo\edufun\client\public\images\wallpaper3.png");
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.letter {
  display: inline-block;
  font-size: 5rem;
  color: #fff;
  opacity: 0;
  animation: drop 0.5s ease forwards;
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
}

.letter:nth-child(1) { animation-delay: 0.2s; }
.letter:nth-child(2) { animation-delay: 0.4s; }
.letter:nth-child(3) { animation-delay: 0.6s; }
.letter:nth-child(4) { animation-delay: 0.8s; }

@keyframes drop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.visible {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  margin-top: 2rem;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.animated-button {
  width: 200px;
  padding: 1rem 2rem;
  background-color: rgb(215, 198, 168);
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  animation: blink 1.5s infinite alternate;
  transition: background-color 0.3s ease;
}

.animated-button:hover {
  background-color: #e0e0e0;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.settings-icon {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.settings-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
